---
site_name: TS-2025 From Good to Great - Enhancing Customer Experience with the Webex Contact Center Flow Designer
site_description: TS-2025 From Good to Great - Enhancing Customer Experience with the Webex Contact Center Flow Designer
site_author: Dimitri Bokatov, Yaroslav Bondar
site_name: Tech Summit Labs
# must be same as "site_name"
copyright: Copyright &copy; 2025 Cisco Systems Inc. All Rights Reserved.
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.instant
    - navigation.top
    - navigation.footer
    - search.suggest
    - content.code.copy
    - toc.integrate
    - content.tooltips
    - content.footnote.tooltips
    - codehilite
  custom_dir: docs/overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom      
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: template_assets/webexLogo91.png
  favicon: template_assets/webex75.png
extra:
  generator: false
extra_css:
  - stylesheets/extra.css
extra_javascript:
  - js/copy-button.js
  - js/attendee-id.js
plugins:
  - search
  #- with-pdf:
  #    cover_title: TS-2025
  #    cover_subtitle: "From Good to Great: Enhancing Customer Experience with the Webex Contact Center Flow Designer"
  #    cover_logo: template_assets/Cisco-Live-White-Blue-APJC.svg
  - glightbox:
      touchNavigation: true
      loop: false
      effect: fade
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: false
      skip_classes:
      - custom-skip-class-name
      auto_caption: true
      caption_position: top   
markdown_extensions:
  - md_in_html
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - tables
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
nav:
  - Home: index.md
  - Getting Started:
      - Lab Overview: ./main/overview.md
      - Getting to know your environment: ./main/PreRequisites.md
      - Chrome and Webex App Setup: ./main/Browser_and_Desktop_Setup.md 
      - Choose Your Adventure: ./main/Choose_Your_Adventure.md
      ## - Flow Designer Overview [To be moved to presentation]: ./main/FlowDesignerOverview.md
  - Topic Analytics:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Topic_Overview.md
            - "Mission 1: Explore Topic Analytics": ./main/AI_Lab_Topic_Mission1.md
      - Conclusion: ./main/AI_Lab_Topic_Conclusion.md
  - Autonomouse AI Agent:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Overview.md
            - "Mission 1: Create AI Autonomous Agent": ./main/AIAgentTrack_Mission1.md
            - "Mission 2: Configure Action and create an order": ./main/AI_Lab_Aut_Mission2.md
            - "Mission 3: Upload prebuilt AI Agent. Failover for Mission 2": ./main/AI_Lab_Aut_Mission3.md
            - "Mission 4: Integrating the AI Agent with Flow for Voice Calls": ./main/AI_Lab_Aut_MissionX.md
      - Conclusion: ./main/CoreTrack_Conclusion.md
  - AI Assistant:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Features_Overview.md
            - "Mission 1: AI Agent Transfer Summary": ./main/AI_Lab_Assist_Mission1.md
            - "Mission 2: Call Drop Summary": ./main/AI_Lab_Assist_Mission_2.md
            - "Mission 3: Real Time Transcript": ./main/AI_Lab_Assist_Mission3.md
            - "Mission 4: AutoCSAT": ./main/AI_Lab_Assist_AutoCSAT.md
      - Conclusion: ./main/APITrack_Conclusion.md
  - New Scripted AI Agent:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Scripted_Overview_New.md
            - "Mission 1: Scripted AI Agent basic functionalities": ./main/AI_Lab_Scripted_Mission1.md
            - "Mission 4: (Not Completed)Routing based on intent": ./main/AI_Lab_Scripted_Mission2.md
  - Scripted AI Agent:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Scripted_Overview.md
            - "Mission 1: Scripted AI Agent in Action": ./main/AIAgentTrack_NewUI_Mission2.md
          #  - "Mission 4: (Not Completed)Routing based on intent": ./main/AIAgentTrack_Mission3.md
  - (BONUS) Integration with Digital Channel:
      - Lab Guide:
            - "Lab overview": ./main/AI_Lab_Digital_Ch_Overview.md
            - "Mission 1: Create Chat Appliction and configure Webex Engage": ./main/AI_Lab_Digital_Mission1.md
            - "Mission 2: Upload and configure Webex Connect flow": ./main/AI_Lab_Digital_Mission2.md
            - "Mission 3: Test the AI Agent integration with the Digital Channel": ./main/AI_Lab_Digital_Mission3.md
      - Conclusion: ./main/CallbackTrack_Conclusion.md
  - (BONUS) IVR Campaign:
      - Lab Guide:
            - "Mission 3: Seamless AI to Human Agent Handoffs": ./main/AIAgentTrack_Mission3.md
            - "Mission 4: Call Drop Summary": ./main/AI_Assistant_CallDropSummary.md
###            - "Mission 5: AI in Action (Scripted Agent) - Old UI Interface": ./main/AIAgentTrack_Mission5.md
      - Conclusion: ./main/AIAgentTrack_Conclusion.md
  - Quick Links: quicklinks.md
###  - Ask a Question<i class="fa-solid fa-hand" style="color:#63E6BE;"></i>: slido-QA-iFrame.md

